# Ignore node_modules
node_modules/

# Ignore environment variables and secrets
.env
*.secret

# Ignore build output
/dist
/build

# Ignore OS system files
.DS_Store
Thumbs.db

#ignore pycache
__pycache__
cogs/__pycache__